.layout {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1rem 1rem;
  grid-template-areas: 
    "profile work play study"
    "profile exercise social self-care"; 
  gap: 1rem;
}




